{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        gigya.accounts.showScreenSet({screenSet:'vClient-RegistrationLogin', startScreen:'gigya-register-screen', containerID:'layer', authFlow: 'redirect', redirectURL:'http://vocento.localhost/confirmacion-registro', redirectMethod:'post'});
    </script>
    <div id="layer"></div>
{% endblock %}
