{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        gigya.accounts.showScreenSet({screenSet:'vClient-RegistrationLogin', containerID:'layer', startScreen:'gigya-forgot-password-success-screen'});
    </script>
    <div id="layer"></div>
{% endblock %}